body {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-view {
    display: flex;
    flex-direction: column;
    
    width: 480px;
}

.search-form {
    display:flex;
}

.search-box {
    font-size: 24px;
    flex-grow: 10;
}

.search-submit-btn {
    
}

.heading {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.drink-img {
    width: 100%;
}

.welcome-text {
    font-size: 34px;
}

.favorites-list {
    margin-top: 30px;
    width: 200px;
    justify-content: center;
}

.instructions {
    margin-top: 15px;
}

.recipe-title {
    font-size: 38px;
}

.instr-title {
    margin-top: 10px;
}

.ingr-title {
    margin-top: 30px;
}

.favorites-list {
    margin-top: 30px;
    width: 200px;
    justify-content: center;
}

li {
    margin-bottom: 10px;
}

.fav-ul {
    margin: 10px;
    padding-left: 18px;
    list-style-type: none;
}

.ingr-ul {
    margin: 10px;
    padding-left: 18px;
    list-style-type: '- ';
}

.hidden {
    display: none;
}

.results-title {
    margin: 10px 0;
}

.search-results {
    margin: 0px;
    list-style-type: "none";
}

.detailsViewTitle {
    margin: 10px 0;
    list-style-type: "none";
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.detailsViewTitle {
    flex-grow: 0;
    margin-right: 20px;
}

.title-row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.details-star {
    width: 50px;
}
